{% extends "base.html" %} 

{% block content %}


<div class="form">
  <h1 class="text-center text-top">Edit your Post</h1>


  <form class="form-horizontal" action="/add" method="post">
    <div class="form-group">
      <label for="inputUser3" class="col-sm-4 control-label">Title</label>
      <div class="col-sm-4">
        <input type="text" name="title" class="form-control" placeholder="Title" value="{{ post.title }}" required="" </re>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="comment">Comment:</label>

      <div class="col-sm-4">
        <textarea class="form-control" name="content" rows="8" id="comment" placeholder="Say something" required="">{{ post.content }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
        <a href="{{ url_for('index') }}"><button type="button" class="btn btn-primary button">Back</button></a>
        <button type="submit" class="btn btn-primary button">Update</button>
      </div>
    </div>
  </form>


  {% endblock %}